html {
  font-size: 62.5%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.menuNavegacion {
  display: flex;
  position: fixed;
  background-color: black;
  width: 100%;
  padding: 1px 0px;
}
.menuNavegacion div {
  list-style: none;
  width: 100%;
  margin: 1px;
  text-align: center;
  font-size: 2rem;
  font-family: "Fredericka the Great", cursive;
}
.menuNavegacion ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.menuNavegacion a {
  color: antiquewhite;
  text-decoration: none;
}
.hero {
  background-image: url(/resources/img/tablas.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 5rem;
  background: rgba(40, 42, 44, 0.7);
  -webkit-text-fill-color: antiquewhite;
  padding: 4rem 4rem;
  display: flex;
  justify-content: center;
}

/* NOSOTROS */
/* Cards */
.cardColumn {
  font-family: "Fredericka the Great", cursive;
  background-color: #282a2c;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px 30px;
}
.cardColumn h2 {
  color: antiquewhite;
  font-size: 5rem;
  padding: 10px 0px;
}
.card_img {
  width: 300px;
  height: 300px;
}
.card_content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}

.cardColumn h3 {
  color: antiquewhite;
  font-size: 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.cardColumn p {
  color: antiquewhite;
  font-size: 2rem;
}
.card {
  display: flex;
  margin: 10px;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
.card img {
  border-radius: 25px;
}

/* CONTACTO */

.contacto {
  font-family: "Fredericka the Great", cursive;
  background-color: #282a2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.contacto h3 {
  color: antiquewhite;
  font-size: 5rem;
  padding: 50px;
}
.formContenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  width: 50vh;
}
.formContenedor form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Fredericka the Great", cursive;
  color: antiquewhite;
  font-size: 3rem;
}
form input {
  background-color: grey;
  border: solid 1px black;
}
.botonForm {
  padding: 1rem 1rem;
  background: #282a2c;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

/* MENU */

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #282a2c;
}
.logos img {
  display: inline;
  width: 50px;
  height: 50px;
  padding: 10px;
}

footer p {
  color: antiquewhite;
  display: flex;
  align-items: center;
  align-self: center;
  padding-right: 50px;
  font-family: "Fredericka the Great", cursive;
  font-size: 1.5rem;
}
