* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive, sans-serif;
}
html {
  font-size: 62.5%;
}

/* MAIN */

.headerNav {
  /* position: fixed; */
  width: 100%;
}
.headerNav ul {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
}
.headerNav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: antiquewhite;
}
.headerNav img {
  height: 50px;
  padding-top: 10px;
}
.headerNav a:hover {
  border-bottom-color: red;
  color: red;
}
.hero {
  background-image: url(./../resources/img/tablas.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroTitulo {
  font-size: 8rem;
  background: rgba(40, 42, 44, 0.5);
  -webkit-text-fill-color: antiquewhite;
  padding: 4rem;
}
.heroTitulo:hover {
  transform: scale(1.03);
  background: rgba(40, 42, 44, 0.8);
}

/* LA TIENDA */
.section_latienda {
}
.gridContenedor_latienda {
  display: grid;
  background-color: rgb(40, 42, 44);

  grid-template-areas:
    "picada picada deli"
    "picada picada deli"
    "picada picada empresarial"
    "picada picada empresarial";
  gap: 20px;
  padding: 20px;
}
.h2_latienda {
  background: rgba(40, 42, 44, 0.7);
  -webkit-text-fill-color: antiquewhite;
  text-align: center;
  margin: 30px 0px;
  font-size: 5rem;
  padding: 4rem;
}
.Picadas_latienda {
  grid-area: picada;
  background-image: url(./../resources/img/Tienda_img/picada.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
}
.Picadas_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}
.Deli_latienda {
  grid-area: deli;
  background-image: url(./../resources/img/Tienda_img/deli_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.Deli_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.Empresarial_latienda {
  grid-area: empresarial;
  background-image: url(./../resources/img/Tienda_img/empresarial.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.Empresarial_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*CONTACTO*/

.contacto {
  font-family: "Fredericka the Great", cursive;
  background-color: #282a2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contacto h3 {
  color: antiquewhite;
  font-size: 5rem;
  margin-top: 50px;
  padding: 50px;
}
.formContenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  width: 50vh;
}
.formContenedor form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Fredericka the Great", cursive;
  color: antiquewhite;
  font-size: 3rem;
}
form input,
textarea {
  border: solid 1px black;
  background-color: antiquewhite;
  font-family: sans-serif;
}
.botonForm input {
  padding: 1rem 1rem;
  font-family: sans-serif;
  background: antiquewhite;
  border: none;
  margin: 5px;
  cursor: pointer;
}

/* NOSOTROS */

.cardColumn {
  font-family: "Fredericka the Great", cursive;
  background-color: #282a2c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  margin: 10px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
.cardColumn h2 {
  color: antiquewhite;
  font-size: 5rem;
  margin-top: 100px;
}
.card_img {
  border-radius: 25px;
  width: 300px;
  height: 300px;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.cardColumn h3 {
  display: flex;
  justify-content: left;
  align-items: center;
  color: antiquewhite;
  font-size: 3rem;
  padding: 20px;
}
.cardColumn p {
  justify-content: center;
  padding: 20px;
  text-align: left;
  color: antiquewhite;
  font-size: 2rem;
}

/* MENU */

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  line-height: 1.5;
  background-color: rgba(40, 42, 44);
}
.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card-menu {
  display: flex;
  flex: 1 1 20rem;
  align-items: center;
  margin: 10px 20px;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  align-self: normal;
  border-radius: 5px;
}
.card-menu img {
  max-width: 200px;
  border-radius: 5px;
}
.card-menu h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
}
.card-menu p {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card-menu .btn {
  display: inline-block;
  margin-top: auto;
  background: green;
  color: #fff;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
/* FOOTER */
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer i {
  font-size: 3rem;
  color: antiquewhite;
}

.socialNetwork a {
  justify-content: center;
  margin: 0px 20px;
}

footer p {
  color: antiquewhite;
  font-size: 2rem;
  margin-right: 20px;
}
#pedidosya {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  display: flex;
  /* justify-content: center;
  align-content: center; */
}
