* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive, sans-serif;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
}

/*///////////////// MAIN /////////////////*/

.headerNav {
  width: 100%;
}
.headerNav ul {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
}
.headerNav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: antiquewhite;
}
.headerNav img {
  height: 50px;
  padding-top: 10px;
}
.headerNav a:hover {
  border-bottom-color: red;
  color: red;
}
.hero {
  background-image: url(./../resources/img/tablas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroTitulo {
  font-size: 6rem;
  background: rgba(40, 42, 44, 0.5);
  -webkit-text-fill-color: antiquewhite;
  padding: 4rem;
  border-radius: 15px;
}
.heroTitulo:hover {
  transform: scale(1.03);
  background: rgba(40, 42, 44, 0.8);
}

/* ///////////////// MENU /////////////////*/

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  background-color: black;
  /* background-color: rgba(40, 42, 44); */
}
.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card-menu {
  display: flex;
  flex: 1 1 20rem;
  align-items: center;
  margin: 10px 20px;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
  align-self: normal;
  border-radius: 5px;
}
.card-menu img {
  max-width: 200px;
  border-radius: 5px;
}
.card-menu h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
}
.card-menu p {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card-menu .btn {
  display: inline-block;
  margin-top: auto;
  background: green;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  scale: 1.5;
}

/*///////////////// LA TIENDA /////////////////*/

.gridContenedor_latienda {
  display: grid;
  background-color: black;
  /* background-color: rgb(40, 42, 44); */
  grid-template-areas:
    "picada picada deli"
    "picada picada deli"
    "picada picada empresarial"
    "picada picada empresarial";
  gap: 20px;
  padding: 20px;
}

.Picadas_latienda {
  grid-area: picada;
  background-image: url(./../resources/img/Tienda_img/picada.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  justify-content: center;
}
.Picadas_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}

.Deli_latienda {
  grid-area: deli;
  background-image: url(./../resources/img/Tienda_img/deli_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.Deli_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.Empresarial_latienda {
  grid-area: empresarial;
  background-image: url(./../resources/img/Tienda_img/empresarial.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.Empresarial_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.h2_latienda {
  background: rgba(40, 42, 44, 0.7);
  -webkit-text-fill-color: antiquewhite;
  position: relative;
  top: 40%;
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
}

/* ///////////////// NOSOTROS /////////////////*/

.nosotros_bg_img {
  background-image: url(./../resources/img/barra.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  filter: blur(5px);
  z-index: -1;
}
.cardColumn {
  z-index: -2;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.cardColumn h2 {
  color: antiquewhite;
  font-size: 5rem;
  margin-top: 5px;
  padding: 10px;
}
.card {
  display: flex;
  margin: 10px 20px;
  width: 90%;
  align-items: center;
  /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7); */
}
.card_img {
  border-radius: 15px;
  width: 300px;
  height: 300px;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.card_content h3 {
  color: antiquewhite;
  font-size: 3rem;
  padding: 20px;
  background: rgba(40, 42, 44, 0.5);
  -webkit-text-fill-color: antiquewhite;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* border-radius: 15px; */
  margin-left: 5px;
}
.card_content p {
  font-size: 2rem;
  text-align: left;
  color: antiquewhite;
  padding: 20px;
  background: rgba(40, 42, 44, 0.5);
  -webkit-text-fill-color: antiquewhite;
  /* border-radius: 15px; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 5px;
}

/* ///////////////// CONTACTO /////////////////*/

.contacto {
  background-image: url(./../resources/img/tragos2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contacto h2 {
  color: antiquewhite;
  text-align: center;
  font-size: 3rem;
  margin: 10px 0px;
  padding: 10px;
}
form {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
  border-radius: 15px;
}
input,
textarea {
  font-family: sans-serif;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
}
textarea {
  min-height: 250px;
  max-height: 300px;
  max-width: 100%;
  min-width: 100%;
}
#boton_submit {
  padding: 20px;
  color: black;
  cursor: pointer;
  border: none;
}

/* ///////////////// FOOTER /////////////////*/
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer i {
  font-size: 3rem;
  color: antiquewhite;
}
.socialNetwork a {
  justify-content: center;
  margin: 0px 20px;
}
footer p {
  color: antiquewhite;
  font-size: 2rem;
  margin-right: 20px;
}
#pedidosya {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  display: flex;
}

@media (min-width: 601px) and (max-width: 850px) {
  /* MAIN */
  .headerNav ul li a {
    font-size: 2rem;
    color: antiquewhite;
    margin: 50px 0px;
  }
  .hero {
    background-image: url(./../resources/img/barra.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .heroTitulo {
    font-size: 6rem;
    background: rgba(40, 42, 44, 0.5);
    -webkit-text-fill-color: antiquewhite;
    padding: 1.5rem;
  }
  footer {
    display: flex;
  }
  footer p {
    color: antiquewhite;
    font-size: 1rem;
    margin-right: 20px;
  }
  #pedidosya {
    width: 30px;
    height: 30px;
    padding: 2px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  /* CONTACTO */
  .contacto h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 2rem;
    margin: 10px 0px;
    padding: 10px;
  }
  form {
    width: 300px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
    border-radius: 15px;
  }
  textarea {
    min-height: 150px;
    max-height: 250px;
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  .headerNav ul {
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  .headerNav ul li {
    margin: 10px 0px;
  }
  .headerNav ul li a {
    font-size: 2rem;
    color: antiquewhite;
    margin: 50px 0px;
  }
  .heroTitulo {
    display: none;
  }
  .hero {
    background-image: url(./../resources/img/frente-bar.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
  }
  .socialNetwork a {
    justify-content: center;
    margin: 0px 10px;
  }
  footer i {
    font-size: 2rem;
    color: antiquewhite;
  }
  footer p {
    color: antiquewhite;
    font-size: 1rem;
    margin-right: 20px;
  }
  #pedidosya {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  /* CONTACTO */
  .contacto h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 2rem;
    margin: 10px 0px;
    padding: 10px;
  }
  form {
    width: 300px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
    border-radius: 15px;
  }
  textarea {
    min-height: 150px;
    max-height: 250px;
    max-width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 400px) {
  .headerNav ul {
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  .headerNav ul li {
    margin: 5px 0px;
  }
  .headerNav ul li a {
    font-size: 1rem;
    color: antiquewhite;
    margin: 50px 0px;
  }
  .headerNav img {
    height: 30px;
  }
  .heroTitulo {
    display: none;
  }
  .hero {
    background-image: url(./../resources/img/frente-bar.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .socialNetwork a {
    justify-content: center;
    margin: 0px 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer i {
    font-size: 2rem;
    color: antiquewhite;
  }
  footer p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: antiquewhite;
    font-size: 1rem;
    margin-right: 20px;
  }
  #pedidosya {
    display: none;
  }
  /* CONTACTO */
  .contacto h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0px;
    padding: 10px;
  }
  form {
    width: 200px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
    border-radius: 15px;
  }
  textarea {
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
  }
  #boton_submit {
    padding: 10px;
    color: black;
    cursor: pointer;
    border: none;
  }
}
