* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive, sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

/*///////////////// HEADER /////////////////*/

.headerNav {
  width: 100%;
  min-height: 10vh;
  background-color: black;
}
.headerNav ul {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
}
.headerNav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: antiquewhite;
  transition: all 0.5s linear;
}
.headerNav img {
  height: 50px;
  padding-top: 5px;
}
.headerNav a:hover {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.2);
  font-weight: bold;
  font-size: 4rem;
  color: red;
}

/*///////////////// MAIN /////////////////*/
.contenedor-main {
  display: flex;
  background-color: rgb(40, 42, 44);
  height: 100vh;
}
.slide {
  margin-top: 10px;
  margin-bottom: 10px;
}
.slide img {
  max-height: 600px;
  background-position: center;
  background-size: cover;
  margin: 1rem;
}

.carousel-inner h2 {
  font-size: 6rem;
}
#banner_h2 {
  background-color: rgba(40, 42, 44, 0.9);
  margin-bottom: 10%;
}
.carousel-caption {
}
#carouselExampleControls {
  background-color: rgb(40, 42, 44);
  margin: 0px 50px;
  padding-right: 10px;
}

/* ///////////////// MENU /////////////////*/

.menu {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  background-color: rgb(40, 42, 44);
  /* background-color: rgba(40, 42, 44); */
}
.contenedor-menu {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card-menu {
  display: flex;
  flex: 1 1 20rem;
  align-items: center;
  margin: 10px 20px;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
  align-self: normal;
  border-radius: 5px;
}
.card-menu img {
  max-width: 200px;
  border-radius: 5px;
}
.card-menu h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
}
.card-menu p {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card-menu .btn {
  display: inline-block;
  margin-top: auto;

  background: green;
  color: #fff;
  border: 2.5px solid grey;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  scale: 1.5;
}

/*///////////////// LA TIENDA /////////////////*/

.gridContenedor_latienda {
  display: grid;
  /* background-color: black; */
  background-color: rgb(40, 42, 44);
  grid-template-areas:
    "picada picada deli"
    "picada picada deli"
    "picada picada empresarial"
    "picada picada empresarial";
  gap: 20px;
  padding: 20px;
}

.Picadas_latienda {
  grid-area: picada;
  background-image: url(./../resources/img/Tienda_img/picada.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  justify-content: center;
}
.Picadas_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}

.Deli_latienda {
  grid-area: deli;
  background-image: url(./../resources/img/Tienda_img/deli_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.Deli_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.Empresarial_latienda {
  grid-area: empresarial;
  background-image: url(./../resources/img/Tienda_img/empresarial.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.Empresarial_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.h2_latienda {
  background: rgba(40, 42, 44, 0.7);
  -webkit-text-fill-color: antiquewhite;
  position: relative;
  top: 40%;
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
}

/* ///////////////// NOSOTROS /////////////////*/

.nosotros_bg_img {
  background-image: url(./../resources/img/barra.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);
  z-index: -1;
}
.cardColumn {
  z-index: -2;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.cardColumn h2 {
  color: antiquewhite;
  font-size: 5rem;
  margin-top: 5px;
  padding: 10px;
}
.card {
  display: flex;
  margin: 10px 20px;
  width: 90%;
  align-items: center;
  /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7); */
}
.card_img {
  border-radius: 15px;
  width: 300px;
  height: 300px;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.card_content h3 {
  color: antiquewhite;
  font-size: 3rem;
  padding: 20px;
  background: rgba(40, 42, 44, 0.5);
  -webkit-text-fill-color: antiquewhite;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* border-radius: 15px; */
  margin-left: 5px;
}
.card_content p {
  font-size: 2rem;
  text-align: left;
  color: antiquewhite;
  padding: 20px;
  background: rgba(40, 42, 44, 0.5);
  -webkit-text-fill-color: antiquewhite;
  /* border-radius: 15px; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 5px;
}

/* ///////////////// CONTACTO /////////////////*/

.contenedor-contacto {
  height: 100vh;
  background: #212529;

  border-color: #545454;
}
.container {
  padding-top: 10rem;
}
form .container {
  width: 35%;
}
.form-label {
  color: antiquewhite;
}

.titulo_contacto {
  text-align: center;
  color: antiquewhite;
  margin-bottom: 2rem;
}
.container button {
  padding: 1rem 2rem;
}
/* .form-control {
  background: #212529;
  border-color: #545454;
} */
.form-control:focus {
  background: #212529;
}

.titulo-contacto h2 {
  justify-content: center;
  color: white;
}
/* .contacto {
  background-image: url(./../resources/img/tragos2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contacto_bg_img {
  filter: blur(5px);
}

.contacto h2 {
  color: antiquewhite;
  text-align: center;
  font-size: 3rem;
  margin: 10px 0px;
  padding: 10px;
}
form {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
  border-radius: 15px;
}
input,
textarea {
  font-family: sans-serif;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
}
textarea {
  min-height: 250px;
  max-height: 300px;
  max-width: 100%;
  min-width: 100%;
}
#boton_submit {
  padding: 20px;
  color: black;
  cursor: pointer;
  border: none;
}
#boton_submit:hover {
  background-color: rgb(40, 42, 44);
  color: antiquewhite;
} */

/* ///////////////// FOOTER /////////////////*/
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer i {
  font-size: 3rem;
  color: antiquewhite;
}
.socialNetwork a {
  justify-content: center;
  margin: 0px 20px;
}
footer p {
  color: antiquewhite;
  font-size: 2rem;
  margin-right: 20px;
}
#pedidosya {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  display: flex;
}
