* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Fredericka the Great", cursive, sans-serif;
}
html {
  font-size: 62.5%;
}
header {
  background-color: transparent;
  /* position: fixed; */
  width: 100%;
}
a {
  text-decoration: none;
}
header nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  font-size: 4rem;
  font-weight: bold;
  color: antiquewhite;
  padding: 5px 5px;
  border-bottom: 5px solid transparent;
}
header nav img {
  height: 50px;
  padding-top: 10px;
}
header nav a:hover {
  border-bottom-color: red;
  color: red;
}

header nav a .selected {
  border-bottom-color: red;
  transform: border 0.9s ease;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  background-image: url(./../resources/img/tablas.jpg);
  /* background-image: url(/resources/img/tablas.jpg); */
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 5rem;
  background: rgba(40, 42, 44, 0.7);
  -webkit-text-fill-color: antiquewhite;
  padding: 4rem;
  text-align: center;
}
.heroTitulo {
  margin: 200px 300px;
  justify-content: center;
}

/* LA TIENDA */

.contenedor_latienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #282a2c;
}
.card_latienda {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #282a2c;
  height: 100vh;
  padding: 20px;
}
.card_latienda_contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_latienda img {
  margin-top: 10px;
  border-radius: 5px;
  height: 350px;
}

/* .card_latienda_contenido p {
  justify-content: center;
  font-size: 2rem;
  font-family: sans-serif;
  color: antiquewhite;
} */

/*CONTACTO*/

.contacto {
  font-family: "Fredericka the Great", cursive;
  background-color: #282a2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contacto h3 {
  color: antiquewhite;
  font-size: 5rem;
  margin-top: 50px;
  padding: 50px;
}
.formContenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  width: 50vh;
}
.formContenedor form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Fredericka the Great", cursive;
  color: antiquewhite;
  font-size: 3rem;
}
form input,
textarea {
  border: solid 1px black;
  background-color: antiquewhite;
  font-family: sans-serif;
}
.botonForm input {
  padding: 1rem 1rem;
  font-family: sans-serif;
  background: antiquewhite;
  border: none;
  margin: 5px;
  cursor: pointer;
}

/* NOSOTROS */

.cardColumn {
  font-family: "Fredericka the Great", cursive;
  background-color: #282a2c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  margin: 10px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
.cardColumn h2 {
  color: antiquewhite;
  font-size: 5rem;
  margin-top: 100px;
}
.card_img {
  border-radius: 25px;
  width: 300px;
  height: 300px;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.cardColumn h3 {
  display: flex;
  justify-content: left;
  align-items: center;
  color: antiquewhite;
  font-size: 3rem;
  padding: 20px;
}
.cardColumn p {
  justify-content: center;
  padding: 20px;
  text-align: left;
  color: antiquewhite;
  font-size: 2rem;
}

/* MENU */

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  line-height: 1.5;
  background-color: rgba(40, 42, 44);
}
.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card-menu {
  display: flex;
  flex: 1 1 20rem;
  align-items: center;
  margin: 10px 20px;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  align-self: normal;
  border-radius: 5px;
}
.card-menu img {
  max-width: 200px;
  border-radius: 5px;
}
.card-menu h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
}
.card-menu p {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card-menu .btn {
  display: inline-block;
  margin-top: auto;
  background: green;
  color: #fff;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}
.logos img {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  background-color: antiquewhite;
}
footer p {
  width: 300px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  color: antiquewhite;
  font-size: 2rem;
}
#pedidosya {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}
