/* VARIABLES */
$mainFont: "Fredericka the Great", cursive, sans-serif;
$mainFontColor: antiquewhite;
$mainBgColor: black;

/* MIXIN*/
@mixin border-radius {
  border-radius: 10px;
}
@mixin card-hover {
  background-color: black;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  box-shadow: 0px 13px 20px -10px #6f6f6f;
  & img {
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    transition: all 300ms ease-in-out;
  }
}
/* EXTEND*/
%display-flex {
  // flex direction=row
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* MAPAS */
$font-sizes: (
  h1: 5.6rem,
  h2: 4.8rem,
  h3: 3rem,
  h4: 2.8rem,
  h5: 2.5rem,
  p: 2rem,
  a: 2rem,
  label: 2rem,
  input: 2rem,
);
@each $tag, $size in $font-sizes {
  #{$tag} {
    font-size: $size;
    color: $mainFontColor;
  }
}
/* GLOBAL */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100%;
}
body {
  font-family: $mainFont;
  background-color: $mainBgColor;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
a {
  color: antiquewhite !important;
  text-decoration: none;
}
/*NAVBAR*/
.navbarNav {
  &__logo {
    .navbarNav__img {
      width: 150px;
      height: 40px;
    }
  }
  .navbarNav__link {
    font-size: 3rem;
    margin: 0 3rem;
    &:hover {
      color: red !important;
      transition-timing-function: ease-in-out;
      transition-duration: 300ms;
    }
  }
}
/* HERO  - MAIN */
.hero {
  justify-content: center;
  background-color: $mainBgColor;
  .carousel__inner {
    max-height: 90rem;
    &__item {
      &__img {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
      }
    }
    .carousel__caption {
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      .carousel__titulo {
        @extend %display-flex;
        flex-direction: column; // extend moficado
        position: relative;
        top: 35%;
        margin: 1rem 10rem;
        padding: 2rem 0rem;
        background-color: rgba(0, 0, 0, 0.4);
        @include border-radius;
        .carousel__btn {
          margin: auto;
          padding: 2rem 5rem;
          font-size: 2rem;
        }
      }
    }
  }
}
/* lA TIENDA */
.headerLaTienda {
  background: #343c44;
  padding: 1rem;
  // color: $mainFontColor;
  text-align: center;
  &__titulo {
    padding: 1rem;
  }
  &__texto {
    // font-size: 2.5rem;
  }
}
.cardLaTienda__contenedor {
  @extend %display-flex;
  margin-top: 2rem;
  .cardLaTienda__card {
    @include border-radius();
    margin: 1rem;
    height: 50rem;
    width: 30rem;
    background-color: #343c44;
    &:hover {
      @include card-hover;
    }
    .cardLaTienda__imagen {
      height: 20rem;
      margin-bottom: 15px;
      background-size: cover;
      background-position: center;
      border-radius: 10px 10px 0 0;
    }
    .cardLaTienda__imagen--1 {
      background-image: url(./../Assets/Img/Tienda_img/picada.png);
    }
    .cardLaTienda__imagen--2 {
      background-image: url(./../Assets/Img/Tienda_img//deli_1.png);
    }
    .cardLaTienda__imagen--3 {
      background-image: url(./../Assets/Img/Tienda_img/empresarial.png);
    }
    .cardLaTienda__titulo {
      text-align: center;
    }
    .cardLaTienda__texto {
      padding: 10px;
    }
    .cardLaTienda__btn {
      margin-top: 10rem;
      display: block;
      text-align: center;
    }
  }
}
/* CARTA */
.menu {
  width: 100%;
  @extend %display-flex;
  background-color: $mainBgColor;
  .contenedor-menu {
    max-width: 90%;
    margin: 2rem 4rem;
    .row-menu {
      align-items: center;
      justify-content: center;
      .card-menu {
        @include border-radius();
        @extend %display-flex;
        flex-direction: column;
        background: #343c44;
        margin: 2rem 4rem;
        padding: 10px 20px;
        &:hover {
          @include card-hover;
        }
        & img {
          @include border-radius();
          max-width: 25rem;
        }
        & h4 {
          font-size: 2rem;
          text-transform: uppercase;
          margin: 10px 0;
        }
        & p {
          font-family: sans-serif;
          font-size: 1.5rem;
          margin-bottom: 10px;
          text-align: center;
        }
        & a {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
/* GALERIA */
.contenedor-galeria {
  @extend %display-flex;
  padding: 5px;
  background-image: linear-gradient(45deg, red, blue);
  & img {
    width: 100%;
  }
  .columnas {
    flex: 25%;
    padding: 5px;
    & img {
      margin: 5px 0px;
    }
    & p {
      padding: 5rem 0rem;
      text-align: center;
      &:hover {
        @include border-radius();
        background-image: linear-gradient(45deg, blue, red);
        transform: translate(0%, -20%);
        font-size: 2.5rem;
        padding: 3rem;
        transition-duration: 400ms;
        transition-timing-function: ease-in-out;
      }
    }
  }
}
/* CONTACTO */
.contenedor-form {
  .marco-contacto {
    border: 5px #343c44 solid;
    width: 75% !important;
    .titulo-contacto {
      text-align: center;
      padding-bottom: 2rem;
    }
    .form-control {
      background: #212529;
      border-color: #545454;
      color: white;
      font-family: sans-serif;
      &:focus {
        background: #545454;
      }
    }
    .form-label {
    }
  }
}
/* MENU */
.contenedor__menu {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  .menu__grupo__tituloPrincipal {
    margin: 1rem 0rem;
    text-align: center;
  }
  .menu__grupo__header {
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
  }
}
.menu__grupo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  padding: 3rem 0;
  .menu__item {
    display: flex;
    margin: 1rem;
    &__img {
      width: 10rem;
      height: 10rem;
      flex-shrink: 0;
      object-fit: cover;
      margin: 0rem 1rem;
    }
    &__texto {
      flex-grow: 1;
      .menu__item__titulo {
        @extend %display-flex;
        justify-content: space-between;
      }
      .menu__item__nombre {
        margin-right: 1rem;
      }
    }
  }
}
/* FOOTER */
footer {
  margin-top: auto;
  background-color: #343c44;
  text-align: center;
  #socialnetwork {
    margin: 0rem 1rem;
    font-size: 3rem;
  }
}
