/* VARIABLES */
/* MIXIN*/
/* EXTEND*/
.hero .carousel__inner .carousel__caption .carousel__titulo, .cardLaTienda__contenedor, .menu, .menu .contenedor-menu .row-menu .card-menu, .contenedor-galeria, .menu__grupo .menu__item__texto .menu__item__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MAPAS */
h1 {
  font-size: 5.6rem;
  color: antiquewhite;
}

h2 {
  font-size: 4.8rem;
  color: antiquewhite;
}

h3 {
  font-size: 3rem;
  color: antiquewhite;
}

h4 {
  font-size: 2.8rem;
  color: antiquewhite;
}

h5 {
  font-size: 2.5rem;
  color: antiquewhite;
}

p {
  font-size: 2rem;
  color: antiquewhite;
}

a {
  font-size: 2rem;
  color: antiquewhite;
}

label {
  font-size: 2rem;
  color: antiquewhite;
}

input {
  font-size: 2rem;
  color: antiquewhite;
}

/* GLOBAL */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100%;
}

body {
  font-family: "Fredericka the Great", cursive, sans-serif;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

a {
  color: antiquewhite !important;
  text-decoration: none;
}

/*NAVBAR*/
.navbarNav__logo .navbarNav__img {
  width: 150px;
  height: 40px;
}

.navbarNav .navbarNav__link {
  font-size: 3rem;
  margin: 0 3rem;
}

.navbarNav .navbarNav__link:hover {
  color: red !important;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

/* HERO  - MAIN */
.hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.hero .carousel__inner {
  max-height: 90rem;
}

.hero .carousel__inner__item__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.hero .carousel__inner .carousel__caption {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.hero .carousel__inner .carousel__caption .carousel__titulo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 35%;
  margin: 1rem 10rem;
  padding: 2rem 0rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.hero .carousel__inner .carousel__caption .carousel__titulo .carousel__btn {
  margin: auto;
  padding: 2rem 5rem;
  font-size: 2rem;
}

/* lA TIENDA */
.headerLaTienda {
  background: #343c44;
  padding: 1rem;
  text-align: center;
}

.headerLaTienda__titulo {
  padding: 1rem;
}

.cardLaTienda__contenedor {
  margin-top: 2rem;
}

.cardLaTienda__contenedor .cardLaTienda__card {
  border-radius: 10px;
  margin: 1rem;
  height: 50rem;
  width: 30rem;
  background-color: #343c44;
}

.cardLaTienda__contenedor .cardLaTienda__card:hover {
  background-color: black;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0px 13px 20px -10px #6f6f6f;
          box-shadow: 0px 13px 20px -10px #6f6f6f;
}

.cardLaTienda__contenedor .cardLaTienda__card:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.cardLaTienda__contenedor .cardLaTienda__card .cardLaTienda__imagen {
  height: 20rem;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.cardLaTienda__contenedor .cardLaTienda__card .cardLaTienda__imagen--1 {
  background-image: url(./../Assets/Img/Tienda_img/picada.png);
}

.cardLaTienda__contenedor .cardLaTienda__card .cardLaTienda__imagen--2 {
  background-image: url(./../Assets/Img/Tienda_img//deli_1.png);
}

.cardLaTienda__contenedor .cardLaTienda__card .cardLaTienda__imagen--3 {
  background-image: url(./../Assets/Img/Tienda_img/empresarial.png);
}

.cardLaTienda__contenedor .cardLaTienda__card .cardLaTienda__titulo {
  text-align: center;
}

.cardLaTienda__contenedor .cardLaTienda__card .cardLaTienda__texto {
  padding: 10px;
}

.cardLaTienda__contenedor .cardLaTienda__card .cardLaTienda__btn {
  margin-top: 10rem;
  display: block;
  text-align: center;
}

/* CARTA */
.menu {
  width: 100%;
  background-color: black;
}

.menu .contenedor-menu {
  max-width: 90%;
  margin: 2rem 4rem;
}

.menu .contenedor-menu .row-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .contenedor-menu .row-menu .card-menu {
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #343c44;
  margin: 2rem 4rem;
  padding: 10px 20px;
}

.menu .contenedor-menu .row-menu .card-menu:hover {
  background-color: black;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0px 13px 20px -10px #6f6f6f;
          box-shadow: 0px 13px 20px -10px #6f6f6f;
}

.menu .contenedor-menu .row-menu .card-menu:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.menu .contenedor-menu .row-menu .card-menu img {
  border-radius: 10px;
  max-width: 25rem;
}

.menu .contenedor-menu .row-menu .card-menu h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
}

.menu .contenedor-menu .row-menu .card-menu p {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.menu .contenedor-menu .row-menu .card-menu a {
  display: block;
  text-align: center;
}

/* GALERIA */
.contenedor-galeria {
  padding: 5px;
  background-image: linear-gradient(45deg, red, blue);
}

.contenedor-galeria img {
  width: 100%;
}

.contenedor-galeria .columnas {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 5px;
}

.contenedor-galeria .columnas img {
  margin-top: 10px;
}

.contenedor-galeria .columnas p {
  padding: 5rem 0rem;
  text-align: center;
}

.contenedor-galeria .columnas p:hover {
  border-radius: 10px;
  background-image: linear-gradient(45deg, blue, red);
  -webkit-transform: translate(0%, -20%);
          transform: translate(0%, -20%);
  font-size: 2.5rem;
  padding: 3rem;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/* CONTACTO */
.contenedor-form .marco-contacto {
  border: 5px #343c44 solid;
  width: 75% !important;
}

.contenedor-form .marco-contacto .titulo-contacto {
  text-align: center;
  padding-bottom: 2rem;
}

.contenedor-form .marco-contacto .form-control {
  background: #212529;
  border-color: #545454;
  color: white;
  font-family: sans-serif;
}

.contenedor-form .marco-contacto .form-control:focus {
  background: #545454;
}

/* MENU */
.contenedor__menu {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.contenedor__menu .menu__grupo__tituloPrincipal {
  margin: 1rem 0rem;
  text-align: center;
}

.contenedor__menu .menu__grupo__header {
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.menu__grupo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  padding: 3rem 0;
}

.menu__grupo .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.menu__grupo .menu__item__img {
  width: 10rem;
  height: 10rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0rem 1rem;
}

.menu__grupo .menu__item__texto {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__grupo .menu__item__texto .menu__item__titulo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__grupo .menu__item__texto .menu__item__nombre {
  margin-right: 1rem;
}

/* FOOTER */
footer {
  margin-top: auto;
  background-color: #343c44;
  text-align: center;
}

footer .socialnetwork {
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */