* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive, sans-serif;
}
html {
  font-size: 62.5%;
}

/* MAIN */

.headerNav {
  /* position: fixed; */
  width: 100%;
}
.headerNav ul {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
}
.headerNav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: antiquewhite;
}
.headerNav img {
  height: 50px;
  padding-top: 10px;
}
.headerNav a:hover {
  border-bottom-color: red;
  color: red;
}
.hero {
  background-image: url(./../resources/img/tablas.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroTitulo {
  font-size: 8rem;
  background: rgba(40, 42, 44, 0.5);
  -webkit-text-fill-color: antiquewhite;
  padding: 4rem;
}
.heroTitulo:hover {
  transform: scale(1.03);
  background: rgba(40, 42, 44, 0.8);
}

/* LA TIENDA */
.section_latienda {
}
.gridContenedor_latienda {
  display: grid;
  background-color: rgb(40, 42, 44);
  grid-template-areas:
    "picada picada deli"
    "picada picada deli"
    "picada picada empresarial"
    "picada picada empresarial";
  gap: 20px;
  padding: 20px;
}
.h2_latienda {
  background: rgba(40, 42, 44, 0.7);
  -webkit-text-fill-color: antiquewhite;
  text-align: center;
  margin: 30px 0px;
  font-size: 5rem;
  padding: 4rem;
}

.Picadas_latienda {
  grid-area: picada;
  background-image: url(./../resources/img/Tienda_img/picada.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
}
.Picadas_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}
.Deli_latienda {
  grid-area: deli;
  background-image: url(./../resources/img/Tienda_img/deli_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.Deli_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.Empresarial_latienda {
  grid-area: empresarial;
  background-image: url(./../resources/img/Tienda_img/empresarial.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.Empresarial_latienda:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

/* FOOTER */
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer i {
  font-size: 3rem;
  color: antiquewhite;
}

.socialNetwork a {
  justify-content: center;
  margin: 0px 20px;
}

footer p {
  color: antiquewhite;
  font-size: 2rem;
  margin-right: 20px;
}
#pedidosya {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  display: flex;
  /* justify-content: center;
  align-content: center; */
}
